.nft-table {
  width: 100%;
  display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.nft-table-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.nft-table-row a {
    width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #333;
  transition: 0.1s ease-in-out;
}

.nft-table-row a:hover {
    background-color: #AEB8FE;
}

.nft-table-cell-title {
    font-size: 20px;
    font-weight: bold;
}

.header-row {
  font-size: 20px;
    font-weight: bold;
    height: 100px;
}

.nft-table-row .nft-table-cell {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100px;
}

.nft-table-row .nft-table-cell .nft-table-cell-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.nft-table-cell-image img {
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 10px;
}

.nft-table-cell-bid-price {
    font-size: 20px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
}

.nft-table-cell-buy-price {
    font-size: 20px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
}

.nft-table-cell-categories {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.item .nft-table-category {
    background-color: #FF8600;
    color: #fff;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
}
